<div id="directions">
      <div class="card">
        <div class="card-header">
          <h2>Directions</h2>
          <div class="card-body">
            <div id="tasks">    

				<ul>
					<% @directions.each do |direction| %>
						<li> <%= direction.step_entry %> </li>
					<% end %>
				</ul>
			</div>
        </div>
      </div>
    </div