<% @recipe.comments.each do |comment| %>
	<div class="card">
		<div class="card-header">
	      <%= image_tag comment.user.image, style: "height: 30px;" %> <%= link_to comment.user.username, user_profile_path(id: comment.user_id) %>
	    </div>
	  	<div class="card-body">
	    <p>
	      <%= comment.comment_entry.html_safe %>
	    </p>    
	  	</div>
	</div>
	<br>
<% end %>
