<div class="row">
    <div class="col-lg-6">
      <%= render template: "ingredients/_form" %>
    </div>
    <div class="col-lg-6">
      <%= render template: "directions/_form" %>
    </div>
  </div>