<h1>Welcome!</h1>
<br>
<p>Hello and welcome to Recime!  This site is the product of my final project in the Tech Talent South Code Immersion course I completed in Asheville, NC.  At this point in time don't consider it to be finished.  I intend for this to be a project I continue working on and improving in order to continue learning and growing my programming skills.  If you know me then you know that I am passionate about food and cooking which makes this project very special for me and hopefully someday I can turn this into something amazing.  For now I really appreciate you visiting this site and I would very much appreciate you making an account and sharing your recipes!  In addition I would greatly appreciate any feedback from you about any bugs you encounter and also any recommendations for features I can add.  Feel free to email me at moye.jg@gmail.com.  I hope you enjoy! </p>
<br>
<h4>-Greg Moye</h4>
<br>
<%= link_to 'Enter Site', recipes_path, class: "btn btn-primary" %>
