<div class="card">
  <div class="card-header">
    <h2>Ingredients</h2>
    <div class="card-body">         
      <ul>
  	    <% @ingredients.each do |ingredient| %>
  	      <li> <%= ingredient.name %>, <%= ingredient.amount %> <%= ingredient.measurement %> <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "delete" %> </li>
  		  <% end %>
	    </ul>  	    
    </div>
  </div>
</div>

 


